html, body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body {
	line-height: 1.6;
	display: flexbox;
	justify-content: center;
	font-family: 'Source Code Pro', monospace;
	
	color: #fff;
	text-align: center;
}
.container{
    overflow: hidden;
}
.content{
	width: 900px;
	text-align: left;
	margin: 0 auto;
	padding: 1rem 0 1.5rem;
}

/*Navigation Bar*/
.navbar{
	background-color: rgb(83, 93, 97);
    color: #fff;
    text-align: center;
	z-index: 10000;
    position: fixed;
	width: 100%;
}
 
.nav ul{
	display: flex;
    list-style: none;
   
}
.nav li{
   
    display: inline-block;
    padding: 0 5px;
    
}
 
.nav a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    
}
.nav a:hover{
    color: darksalmon;
}

#Home {
	width: 100%;
	height:100%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	height: 970px;
	overflow: hidden;
	background: linear-gradient(90deg, rgba(84, 150, 255, .78), rgba(135, 57, 229, .85));
}

.profile__photo {
	margin-bottom: 0;
	height: 240px;
	width: 240px;
}

/*Profile*/
.profile__wrap {
	text-align: center;
    padding-top: 10%;
    position:relative;
    padding-bottom: 20%;
}

.profile__photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1rem;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.profile__info h1 {
	font-size: 40px;
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	position: relative;
	color: #f1f5ff;
}


.profile__intro {
	padding: 1rem 10px 1.5rem;
	line-height: 1.5;
	color: #f1f5ff;
	text-align: center;
}
.profile__info {
	text-align: center;
	flex-basis: 70%;
}

.profile__info p {
	
	position: relative;
}

#About{
	flex-basis: 70%;
	width: 100%;
	height:100%;
	background-color: #caf0f8;
	color: black;
	
}
#About h1{
	font-size: 40px;
	font-weight: 700;
	padding: 3% 0 5% 0;
	text-align: center;
}



#Skills{
	flex-basis: 70%;
	width: 100%;
	height:60%;
	background-color: #90e0ef;
	color: black;
	text-align: center;
	
}
#Skills h1{
	font-size: 40px;
	font-weight: 700;
	padding-top: 3%;
	text-align: center;
}



#Projects{
	flex-basis: 70%;
	width: 100%;
	height:100%;
	background-color: #0077b6;
	color: white;
	
}
#Projects h1{
	font-size: 40px;
	font-weight: 700;
	padding-top: 3%;
	text-align: center;
}
.projects{
	text-align: left;
	margin: 0 auto;
	padding: 1rem 0 1.5rem;
	display: flexbox;
}
.projects_info {
	display: flex;
	margin-top: 1rem;
	list-style: none;
	padding: 10px;
}

.projects_info li {
	width: 500px;
	padding: 0 5px;
	
}
.projects_info l {
	width: 500px;
	padding: 0 5px;
}


#Contacts{
	flex-basis: 70%;
	width: 100%;
	height:100%;
	background-color: blanchedalmond;
	color:black;
		
}
#Contacts h1{
	padding-top: 5%;
	font-size: 40px;
	font-weight: 700;
}
.contact {
	display: inline-block;
	background-color: #fff;
	padding: 8px 2rem;
	text-decoration: none;
	color: #4a5568;
	border-radius: 99rem;
	border: 2px solid #fff;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
	transition: .25s ease;
}

.contact:hover {
	background-color: transparent;
	color: #fff;
}

.social__links {
	margin-top: 1rem;
	list-style: none;
}

.social__links li {
	display: block;
	
	font-size: 25px;
}

.social__links a {
	font-size: 14px;
	color: black;
	padding-left: 10px;
	text-decoration: none;
}

.social__links a:hover {
	text-decoration: underline;
}

/*Sliders*/
#slider {
	margin: 0 auto;
	width: 800px;
	max-width: 100%;
	text-align: center;

 }
 #slider input[type=radio] {
	display: none;
 }
 #slider label {
	cursor:pointer;
	text-decoration: none;
 }
 #slides {
	padding: 10px;
	border: 3px solid #ccc;
	background: #fff;
	position: relative;
	z-index: 1;

 }
 #overflow {
	width: 100%;
	overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
	margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
	margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
	margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
	margin-left: -300%;
 }
 #slides .inner {
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	width: 400%;
	line-height: 0;
	height: 400px;
 }
 #slides .slide {
	width: 25%;
	float:left;
	display: flex;
	align-items: center;
	height: 100%;
	color: #fff;
 }
 #slides .slide_1 {
	background-image:url(./Images/ATM.png);
	background-size: cover;
	text-align: left;
	
 }
 #slides .slide_2 {
	display: flex;
	background-image:url(./Images/TodoList.jpg),url(./Images/TodoList2.png),url(./Images/TodoList3.png);
	background-position: right ,center, left ;
	background-repeat: no-repeat;
	background-size: contain;
	
 }
 #slides .slide_3 {
	background-image:url(./Images/Huffman.png);
	background-size: cover;
 }
 #slides .slide_4 {
	background-image:url(./Images/bot.png);
	background-size: initial;
	background-repeat: no-repeat;

 }
/** #slides .p{
	text-align: bottom left;
**/
 #controls {
	margin: -230px 0 0 0;
	width: 100%;
	height: 50px;
	z-index: 3;
	position: relative;
 }
 #controls label {
	transition: opacity 0.2s ease-out;
	display: none;
	width: 50px;
	height: 50px;
	opacity: .4;
 }
 #controls label:hover {
	opacity: 1;
 }
 #bullets {
	margin: 25px 0 0;
	text-align: center;
 }
 #bullets label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius:100%;
	background: #ccc;
	margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
	background: #444;
 }

 @media screen and (max-width: 900px) {
	#slide1:checked ~ #controls label:nth-child(2),
	#slide2:checked ~ #controls label:nth-child(3),
	#slide3:checked ~ #controls label:nth-child(4),
	#slide4:checked ~ #controls label:nth-child(1),
	#slide1:checked ~ #controls label:nth-last-child(2),
	#slide2:checked ~ #controls label:nth-last-child(3),
	#slide3:checked ~ #controls label:nth-last-child(4),
	#slide4:checked ~ #controls label:nth-last-child(1) {
	   margin: 0;
	}
	#slides {
	   max-width: calc(100% - 140px);
	   margin: 0 auto;
	}
 }

